if SHIELD_DONGLE_TRACKBALL

config ZMK_KEYBOARD_NAME
    default "Trackball Dongle"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_POINTING
    default y

endif
